# List of untracked files to ignore

# simulink
*.mex*
*_rtw
*slprj*
*.slxc
*.autosave
*.original
*resources

# latex build artifacts
*.aux
*.bbl
*.toc
*.xdv
*.synctex.gz
*.blg
*.fls
*.fdb_latexmk
*.synctex(busy)
*.log
*.out

# c source artifacts
*.dwo
*.hex

# playground and unrelated
playground.*
unrelated
