# List of untracked files to ignore

# simulink
*.mex*
*_rtw
*slprj*
*.slxc
*.autosave
*.original

# latex build artifacts
*.aux
*.bbl
*.toc
*.xdv
*.synctex.gz
*.blg
*.fls
*.fdb_latexmk
*.synctex(busy)
*.log
*.out

# playground and unrelated
playground.*
unrelated
