# List of untracked files to ignore

# simulink
*.mex*
*slprj*
*.slxc
*.autosave
*.original
*resources

# matlab executables
*.mat

# latex build artifacts
*.aux
*.bbl
*.toc
*.xdv
*.synctex.gz
*.blg
*.fls
*.fdb_latexmk
*.synctex(busy)
*.log
*.out

# c source artifacts
*.dwo
*.hex
*.dep
*.obj
*.d
*.asm

# playground and unrelated
playground.*
unrelated
